{% extends 'base.html.twig' %}

{% block title %}{{department.nom}}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h2>{{ department.sigles  }} </h2>
        {% if persones|length > 0 %}
            <div>Consten {{ persones|length }} persones.</div>
            {% for persona in persones %}
                <p>{{ persona.getIdent() }}({{ persona.getTipusIdent() }})-{{ persona.getCognoms() }},{{ persona.nom }}</p>
            {% endfor %}
            previous :{{ previous }}<br>
            next : {{ next }}<br>
            {% if previous >= 0  %}

                <a href="{{ path('department_id',{id: department.id, offset: previous}) }}"> Anterior</a>
            {% endif %}
            {% if next < persones|length  %}
                <a href="{{ path('department_id',{id: department.id, offset: next}) }}">Següent</a>
            {% endif %}
        {% else %}
            <div>No consta cap persona al departament</div>
        {% endif %}


    </div>
{% endblock %}